/**************************/
/* SCREEN WIDTH OF 600PX AND BELOW */
/**************************/

@media only screen and (max-width: 37.5em) {
  /* POPUP SECTION */
  .popup__left {
    width: 100%;
    display: block;
  }

  .popup__right {
    width: 100%;
    display: block;
    padding: 1.5rem 1rem;
  }

  .popup__img {
    display: none;
  }

  /* STORY SECTION */
  .story {
    transform: skewX(0);
  }

  .story__shape {
    transform: translateX(-3rem) skewX(0);
  }

  .story__text {
    transform: skewX(0);
  }

  /* HEADER SECTION */
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }

  /* NAVIGATION SECTION */
  .navigation__button {
    top: 3rem;
    right: 3rem;
  }

  .navigation__background {
    top: 3.5rem;
    right: 3.5rem;
  }
}

@media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
  (min-resolution: 192dpi) and (min-width: 37.5em),
  (min-width: 125em) {
  .header {
    background-image: linear-gradient(
        to right bottom,
        rgba(126, 213, 111, 0.8),
        rgba(40, 180, 133, 0.8)
      ),
      url(../img/hero.jpg);
  }
}

/**************************/
/* SCREEN WIDTH OF 900PX AND BELOW */
/**************************/

@media only screen and (max-width: 56.25em) {
  /* NAVIGATION SECTION */
  .navigation__background {
    top: 4.5rem;
    right: 4.5rem;
  }

  .main-nav {
    background-color: #55c57a;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name='close-outline'] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name='menu-outline'] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }

  /* NAVIGATION SECTION */
  .section-about {
    padding: 20rem 0;
  }

  /* CARD SECTION */
  .card {
    height: auto;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  }
  .card__side {
    height: auto;
    position: relative;
    box-shadow: none;
  }
  .card__side--back {
    transform: rotateY(0);
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
  }
  .card:hover .card__side--front {
    transform: rotateY(0);
  }
  .card__details {
    padding: 1rem 3rem;
  }
  .card__cta {
    position: relative;
    top: 0%;
    left: 0;
    transform: translate(0);
    width: 100%;
    padding: 7rem 4rem 4rem 4rem;
  }
  .card__price-box {
    margin-bottom: 3rem;
  }
  .card__price-value {
    font-size: 4rem;
  }

  /* COMPOSITION SECTION */
  .composition__photo {
    float: left;
    position: relative;
    width: 33.33333333%;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
  }

  .composition__photo--p1 {
    top: 0;
    transform: scale(1.2);
  }

  .composition__photo--p2 {
    top: -1rem;
    transform: scale(1.3);
    z-index: 100;
  }

  .composition__photo--p3 {
    top: 1rem;
    left: 0;
    transform: scale(1.1);
  }

  /* FEATURE SECTION */

  .section-features {
    padding: 10rem 0;
  }

  .section-tours {
    padding: 20rem 0 10rem 0;
  }

  .feature-box {
    padding: 2rem;
  }

  .feature-box__icon {
    margin-bottom: 0;
  }

  /* FORM SECTION */

  .form__input {
    width: 100%;
  }

  .form__input {
    width: 100%;
    margin-bottom: 2rem;
  }

  .form__radio-group {
    width: 100%;
    margin-bottom: 2rem;
  }

  /* STORY SECTION */
  .story {
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
  }

  .section-stories {
    padding: 10rem 0;
  }

  /* BOOKING SECTION */

  .section-book {
    padding: 10rem 0;
  }

  .book {
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.9) 0%,
        rgba(255, 255, 255, 0.9) 100%
      ),
      url(../img/nat-10.jpg);
  }

  .book__form {
    width: 100%;
  }

  /* FOOTER SECTION */
  .footer {
    padding: 8rem 0;
  }

  .footer__logo-box {
    margin-bottom: 6rem;
  }

  .footer__navigation {
    width: 100%;
    text-align: center;
  }

  .footer__copyright {
    width: 100%;
    float: none;
  }
}

/**************************/
/* SCREEN WIDTH OF 1200PX AND BELOW */
/**************************/

@media only screen and (max-width: 75em) {
  /* POPUP SECTION */
  .popup__content {
    width: 90%;
  }

  /* BOOKING SECTION */
  .book {
    background-image: linear-gradient(
        105deg,
        rgba(255, 255, 255, 0.9) 0%,
        rgba(255, 255, 255, 0.9) 65%,
        transparent 65%
      ),
      url(../img/nat-10.jpg);
    background-size: cover;
  }

  .book__form {
    width: 65%;
  }
}
